<html>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div id="log_container">

</div>
{% block javascripts %}
<script>
  // window.location.reload();

  function loadlink(){
      $('#log_container').load('/logload',function () {
          $(this).unwrap();
      });
  }

  setInterval(function(){
      loadlink() // this will run after every 5 seconds
  }, 5000);
</script>
{% endblock %}
</body>

</html>